@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* Custom Global Styles */
:root {
	--primary-color: #eb0029;
	--secondary-color: #010f1c;
	--accent-color: #f9f6f1;
	--text-color: #555f6c;
	--bg-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Apply base styles to the whole app */
body {
	@apply bg-[var(--bg-color)] text-[var(--text-color)] font-nunito leading-relaxed text-base w-[100vw] overflow-x-hidden;
}

/* Global container for consistent spacing */
.container {
	@apply max-w-7xl mx-auto py-16 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20;
}

/* Headings */
/* h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-workSans text-gray-900 font-semibold;
} */

h1 {
	@apply text-4xl md:text-5xl;
}

h2 {
	@apply text-3xl md:text-4xl;
}

h3 {
	@apply text-2xl md:text-3xl;
}

h4 {
	@apply text-xl md:text-2xl;
}

/* Buttons */
.btn {
	@apply inline-flex items-center justify-between gap-3 p-4 sm:px-6  rounded-lg text-xs sm:text-sm font-normal transition-all duration-500 overflow-x-hidden;
}

.btn-primary {
	@apply bg-[var(--primary-color)] text-white hover:bg-[var(--secondary-color)];
}

/* .btn-secondary {
	@apply bg-[var(--secondary-color)] text-white hover:bg-[var(--dark-secondary)];
}
.btn-white {
	@apply bg-[var(--accent-color)] text-[var(--primary-color)] hover:text-white hover:bg-[var(--dark-secondary)];
}

.btn-outline {
	@apply border border-[var(--primary-color)] text-[var(--primary-color)] hover:bg-[var(--primary-color)] hover:text-white;
} */

/* Links */
a {
	@apply text-[var(--primary-color)] hover:text-[var(--secondary-color)];
}

.active {
	@apply text-[var(--secondary-color)];
}

.soft-shadow {
	box-shadow: 0 8px 30px rgb(235, 0, 41, 0.2);
}

/* Spin animation */
@keyframes spin-slow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.animate-spin-slow {
	animation: spin-slow 30s linear infinite;
}

 